<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>390065709338-eb5mgjolo0r4hfaq0ko8vck1iathu70o.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.390065709338-eb5mgjolo0r4hfaq0ko8vck1iathu70o</string>
	<key>API_KEY</key>
	<string>AIzaSyAgE6JQHXh-RMAU2acO93sPyx4juo6Hwg8</string>
	<key>GCM_SENDER_ID</key>
	<string>390065709338</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Paws-up</string>
	<key>PROJECT_ID</key>
	<string>paws-up-1ea42</string>
	<key>STORAGE_BUCKET</key>
	<string>paws-up-1ea42.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:390065709338:ios:85d56a229b27330a7b8ca3</string>
</dict>
</plist>